.el-message {
  height: 40px;
  border: none !important;
  border-radius: 8px !important;
  padding: 9px 12px !important;
  background-color: var(--bg-elev-1) !important;
  box-shadow: 0 6px 16px 0 var(--shadow-weak),
    0 3px 6px -4px var(--shadow-weak),
    0 9px 28px 8px var(--shadow-weak);
}

.el-message__content {
  font-size: 14px !important;
  font-weight: 400;
  color: var(--font-primary-1) !important;
}

.el-button--primary {
  --el-button-bg-color: var(--primary-color) !important;
  --el-button-border-color: var(--primary-color) !important;
  --el-button-hover-bg-color: var(--primary-hover-color) !important;
  --el-button-active-border-color: var(--primary-hover-color) !important;
}